html, body {
    height: 100%;
}
body {
    background: 
        radial-gradient(circle, transparent 20%, rgb(217, 230, 179) 20%, rgb(231, 228, 176) 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, rgb(230, 230, 179) 20%, rgb(227, 231, 177) 80%, transparent 80%, transparent) 50px 50px,
        linear-gradient(rgb(183, 187, 168) 8px, transparent 8px) 0 -4px,
        linear-gradient(90deg, rgb(187, 186, 168) 8px, transparent 8px) -4px 0;
    background-color: rgb(221, 221, 187);
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
    padding: 50px 0;
}
.container {
    display: flex;
    /* flex-direction: column; */
    background: linear-gradient(rgb(255, 255, 124), lightgoldenrodyellow);
    width: 70%;
    height: 800px;
    margin: auto;
    padding: 5px;
}
#calculator {
    display: flex;
    flex-direction: column;
    background: rgb(231, 224, 224);
    width: 65%;
    height: 60%;
    margin: auto;
    padding: 20px 30px 40px 30px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #888888;
}
#heading {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#total {
    display: flex;
    width: 98%;
    height: 55px;
    background: rgb(241, 239, 209);
    border-radius: 4%;
    box-shadow: 5px 5px 5px #888888;
    text-align: right;
    text-shadow: 5px 5px 5px #888888;
    color: black;
}
.keys-container {
    /* display: flex; */
    width: 96%;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}
.keys input{
    width: 142px;
    height: 65px;
    background: rgb(53, 52, 52);
    color: whitesmoke;
    position: relative;
    top: 0;
    float: left;
    margin: 2px 4px;
    border-radius: 4%;
    font-size: 25px;
    text-align: center;
    line-height: 60px;
}
#zero {
    width: 294px;
    height: 65px;
    background: rgb(53, 52, 52);
    color: whitesmoke;
    position: relative;
    top: 0;
    float: left;
    margin: 2px 4px;
    border-radius: 4%;
    font-size: 25px;
    text-align: center;
    line-height: 60px;
}
.keys input.operator {
    background: rgb(223, 163, 52);
}
input:hover { /* make buttons appear to be pressed down*/
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(226, 223, 209)), to(#EDEDED));
    background: -moz-linear-gradient(top,  #DCDCDC,  #EDEDED);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DCDCDC', endColorstr='#EDEDED');
}